.landing{
    
    background-image: url('../img/top_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
}
p{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color: white;

}
.logo{
    margin-left: 620px;
    margin-top: 250px;
}
h2{
    text-align: center;
    color: white;
}
.service{
    background-image: url("../img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
#about{
    text-align: center;
    color: black;
}
#sub{
    text-align: center;
    color: white;

}
#header{
    text-align: center;
    color: white;
}
.process{
    display: flex;
    justify-content: space-around;
}
.row {
    height: 30%
}
.call{
    background-image: url('../img/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    color: white;
}
.high{
    display: flex;
    justify-content: space-evenly;
}
.low{
    display: flex;
    justify-content: space-evenly;
}
.analyst{
    margin-top: 250px;
}
#title{
    color: white;
}
.work1{
    display: flex;
    justify-content: space-evenly;
}
.fill{
    background-image: url("../img/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.icons{
    align-items: center;
    margin-left: 400px;
}
#paint{
    text-align: center;
    color: black;
    /* visibility: hidden; */
}
.design{
    visibility: hidden;
}
::placeholder{
    color: white;
}
.form{
    display: inline-block;
}
.column {
    display: flex;
    flex: 100%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }