/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary {
      width: 67%;
    }
    #secondary {
      width: 30%;
      margin-left: 3%;
    }
  }
  
  /* Media Queries: Tabled Portrait */
  @media screen and (max-width: 768px) {
    #primary {
      width: 100%;
    }
    #secondary {
      width: 100%;
      margin: 0;
      border: none;
    }
  }
  
  @media (min-device-width: 600px) {
    img[data-src-600px] {
      content: attr(data-src-600px, url);
    }
  }
  
  @media (min-device-width: 800px) {
    img[data-src-800px] {
      content: attr(data-src-800px, url);
    }
  }
.landing{
    
    background-image: url('../img/top_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
}
p#paragraph{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color: white;

}
.logo{
    margin-left: 620px;
    margin-top: 250px;
}
h2{
    text-align: center;
    color: white;
}
.service{
    background-image: url("../img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
#about{
    text-align: center;
    color: black;
}
#sub{
    text-align: center;
    color: white;

}
#header{
    text-align: center;
    color: white;
}
.process{
    display: flex;
    justify-content: space-around;
}
.row {
    height: 30%
}
.call{
    background-image: url('../img/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    color: white;
}
.high{
    display: flex;
    justify-content: space-evenly;
}
.low{
    display: flex;
    justify-content: space-evenly;
}
.analyst{
    margin-top: 250px;
}
/* #title{
    color: white;
    margin-top: 250px;
} */
.work1{
    display: flex;
    justify-content: space-evenly;
}

.icons{
    align-items: center;
    margin-left: 400px;
}
#paint{
    text-align: center;
    color: black;
    /* visibility: hidden; */
}
.design{
    visibility: hidden;
}
::placeholder{
    color: white;
}
#file {
    background-image: url('../img/background_image.jpg');
    text-align: center;
    height: 100vh;
    padding-top: 60px;
  }
  con {
    padding-top: 20px;
  }
  form {
    color: none;
  }
  input,
  textarea {
    background-color: transparent;
    color: white;
  }
  #portfolio {
    text-align: center;
  }
  .des,
.dev,
.pro {
  display: none;
}
#work{
    text-align: center;
    color: white;
       
}
.move{
    margin-top:250px;
}
h3{
    text-align: center;
    margin-top: 240px;
}
.mouse {
    margin-top: 10%;
    margin-bottom: 2%;
    animation: bounce 3s infinite;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50px);
    }
  }
  
  #scroll {
    align-items: center;
  }
  