.landing{
    margin-top: 150px;
    background-image: url('../img/top_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    
}
p{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color: white;

}
img{
    margin-left: 500px;
}
h2{
    text-align: center;
    color: white;
}
.service{
    background-image: url("../img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#about{
    text-align: center;
    color: black;
}
#sub{
    text-align: center;
    color: white;
}
#header{
    text-align: center;
    color: white;
}
